<ion-header>
  <ion-toolbar>
    <ion-title>catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>CATALOGO</h1>
  <button>
    class
  </button>
  <ion-button expand="fullscreen" fill="outline" color="primary">
    <ion-icon  slot="end" name="star"></ion-icon>
    Test
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let producto of productos" [routerLink]="['./', producto.id]">
      <ion-avatar>
        <ion-img [src]="producto.img"></ion-img>
      </ion-avatar>
      <ion-label>{{producto.title}} - {{producto.id}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
