<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/catalogo"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ producto.title }} </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="delete()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        {{producto.description}}
      </ion-col>
      <ion-col>
        <ion-img [src]="producto.img"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
