<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addFunction()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formExample">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Id</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label>Title</ion-label>
              <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Description</ion-label>
            <ion-textarea row="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Img</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!formExample.get('description').valid &&
                      formExample.get('description').touched">
        <ion-col  size-sm="6" offset-sm="3">
          <p>La descripcion debe de ser menor a 180 caracteres</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !formExample.get('description').valid &&
        !formExample.get('id').valid &&
        !formExample.get('title').valid &&
        !formExample.get('img').valid
      ">
        <ion-col  size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
